<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Property desk | A  land of properties in one place</title>
      <meta name="description" content=" ">
      <meta name="keywords" content="">
        <link rel="icon" size="16x16" type="image/png" href="assets/images/favicon.png"/>
        <link rel="icon" size="96x96" type="image/png" href="assets/images/favicon.png"/>
        <link rel="icon" size="32x32" type="image/png" href="assets/images/favicon.png"/>
        <link rel="icon" size="192x192" type="image/png" href="assets/images/favicon.png"/>
        <link rel="apple-touch-icon" size="16x16" type="image/png" href="assets/images/favicon.png"/>
        <link rel="apple-touch-icon" size="96x96" type="image/png" href="assets/images/favicon.png"/>
        <link rel="apple-touch-icon" size="32x32" type="image/png" href="assets/images/favicon.png"/>
        <link rel="apple-touch-icon" size="192x192" type="image/png" href="assets/images/favicon.png"/>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="assets/css/style.css">
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="assets/js/jquery.min.js" type="javascript"></script> 
 
    </head>
    <body>
    <%- include('navbar.ejs') %>
    </body></html>