<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Property desk | A  land of properties in one place</title>
      <meta name="description" content=" ">
      <meta name="keywords" content="">
        <link rel="icon" size="16x16" type="image/png" href="assets/images/favicon.png"/>
        <link rel="icon" size="96x96" type="image/png" href="assets/images/favicon.png"/>
        <link rel="icon" size="32x32" type="image/png" href="assets/images/favicon.png"/>
        <link rel="icon" size="192x192" type="image/png" href="assets/images/favicon.png"/>
        <link rel="apple-touch-icon" size="16x16" type="image/png" href="assets/images/favicon.png"/>
        <link rel="apple-touch-icon" size="96x96" type="image/png" href="assets/images/favicon.png"/>
        <link rel="apple-touch-icon" size="32x32" type="image/png" href="assets/images/favicon.png"/>
        <link rel="apple-touch-icon" size="192x192" type="image/png" href="assets/images/favicon.png"/>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/location.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="assets/css/style.css">
       <script src="assets/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    </head>
    <body onload="initialize()">
    <%- include('navbar.ejs') %>
    <section class="mainBanner">
<div class="container">
<div class="row">
<div class="col-md-9 col-xs-12">
  <div class="searcher">
    <h1>Srilanka's Largest Property Search Directory</h1>
    <p>Search for your dream property from more than 100000+ listings</p>
      <form class="search" action="">
        <input  class="controls" type="text" placeholder="Search for Property, Location, Landmarks.. " name="pick" required="" >
        <button type="submit"><i class="fa fa-search"></i> <span>Search</span></button>
      </form>
</div>
  </div>
</div>

</div>

</div>

    </section>
<section class="quicklinks">
<div class="container">
    <div class="scrolling-wrapper">
        <div class="card"><center><img class="center" src="assets/images/icons/bungalow.png"><p>Bungalow</p></center></div>
        <div class="card"><center><img class="center" src="assets/images/icons/house.png"><p>Villas</p></center></div>
        <div class="card"><center><img class="center" src="assets/images/icons/apartments.png"><p>Apartments</p></center></div>
        <div class="card"><center><img class="center" src="assets/images/icons/workspace.png"><p>Workspace</p></center></div>
        <div class="card"><center><img class="center" src="assets/images/icons/farmland.png"><p>Farm Land</p></center></div>
        <div class="card"><center><img class="center" src="assets/images/icons/beach-house.png"><p>Beach House</p></center></div>
        <div class="card"><center><img class="center" src="assets/images/icons/beach-house.png"><p>Beach House</p></center></div>
      </div>
</div>
</section>
<section class="fProjects">
    <div class="container">
        <button class="viewmore">View all <i class="fa fa-angle-right"></i></button>
       <h1>Featured Projects</h1>
       <div class="scrolling-wrapper">
          <div class="fcard">
              <div class="fimage">
         <img src="assets/images/fimage1.jpg">
         <span>Featured</span>
         </div>
         <h3>Chaitanya Towers</h3>
         <p>Starts from ₹ 15 Lakh</p>
        </div>
        <div class="fcard">
            <div class="fimage">
       <img src="assets/images/fimage1.jpg">
       <span>Featured</span>
       </div>
       <h3>Chaitanya Towers</h3>
       <p>Starts from ₹ 8 Lakh</p>

      </div>
      <div class="fcard">
          <div class="fimage">
     <img src="assets/images/fimage2.jpg">
     <span>Featured</span>
     </div>
     <h3>MGR Towers</h3>
     <p>Starts from ₹ 12 Lakh</p>
    </div>
    <div class="fcard">
        <div class="fimage">
   <img src="assets/images/fimage1.jpg">
   <span>Featured</span>
   </div>
   <h3>Chaitanya Towers</h3>
   <p>Starts from ₹ 15 Lakh</p>
  </div>
       </div>
        </div>
</section>
<section class="fProjects">
    <div class="container">
        <button class="viewmore">View all <i class="fa fa-angle-right"></i></button>
       <h1>Ready to Occupy</h1>
       <div class="scrolling-wrapper">
          <div class="fcard">
              <div class="fimage">
         <img src="assets/images/fimage1.jpg">
         <span>For sale</span>
         </div>
         <h3>Chaitanya Towers</h3>
         <p>Starts from ₹ 15 Lakh</p>
        </div>
        <div class="fcard">
            <div class="fimage">
       <img src="assets/images/fimage1.jpg">
       <span>For sale</span>
       </div>
       <h3>Chaitanya Towers</h3>
       <p>Starts from ₹ 8 Lakh</p>

      </div>
      <div class="fcard">
          <div class="fimage">
     <img src="assets/images/fimage2.jpg">
     <span>For sale</span>
     </div>
     <h3>MGR Towers</h3>
     <p>Starts from ₹ 12 Lakh</p>
    </div>
    <div class="fcard">
        <div class="fimage">
   <img src="assets/images/fimage1.jpg">
   <span>Featured</span>
   </div>
   <h3>Chaitanya Towers</h3>
   <p>Starts from ₹ 15 Lakh</p>
  </div>
       </div>
        </div>
</section>
<section class="whyus">
    <div class="container">
      <h1>Why to choose <span>99</span>Perches ?</h1>
      <div class="row whyborder">
        <div class="col-sm-4 col-xs-12 border">
         <div class="column">
           <center><img src="assets/images/icons/approval.png"></center>
           <h3>Free Listing </h3>
           <p>Post your property in our website and get sold or rented at earliest without any Brokerage.</p>
         </div>
        </div>
        <div class="col-sm-4 col-xs-12 border">
            <div class="column">
                <center><img src="assets/images/icons/support.png"></center>
                <h3>Property Support </h3>
                <p>We provide 24/7 support about any property information and deliver you a better solution.</p>
              </div>
          </div>
          <div class="col-sm-4 col-xs-12 border">
              <div class="column">
                  <center><img src="assets/images/icons/budget.png"></center>
                  <h3>Budget Property</h3>
                  <p>No more looking for budget property physically, we are live now and budget homes are here.</p>
                </div>
            </div>
      </div>
      </div></section>
      <section class="fProjects">
          <div class="container">
            <h1>Recent News</h1>
            <div class="blogcard">
                <div class="fimage">
           <img src="assets/images/fimage1.jpg">
           </div>
           <h3>Land Prices in Greater Colombo Increase by up to 64% as Demand Grows for Affordable Land Outside the City</h3>
           <p>Demand for land in Thalahena, Gothatuwa and Kolonnawa are rising significantly, resulting in the highest percentage increases in land prices in Greater Colombo...</p>
          </div>

          <div class="blogcard">
              <div class="fimage">
         <img src="assets/images/fimage1.jpg">
         </div>
         <h3>Colombo's Dazzling New Mall - Colombo City Centre</h3>
         <p>Colombo City Centre (CCC) is the latest retail experience to join Colombo's skyline. Its superior design makes it a prominent landmark in Sir James Pieris Mawatha, facing the Beira Lake in Colombo...</p>
        </div>

        <div class="blogcard">
            <div class="fimage">
       <img src="assets/images/fimage1.jpg">
       </div>
       <h3>Top 5 Interior Designing Ideas Under the Budget</h3>
       <p>Have you always wanted to add a modern touch to your home yet find it absolutely difficult to fit that in to your limited designing budget? Well here are some under the budget interior designing...</p>
      </div>

      <button class="viewmore">View All News <i class="fa fa-angle-right"></i></button>
            </div>

          </section>

    </body></html>
