<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href=""><span>99</span>Perches</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="nav-item dropdown">
                <a data-toggle="dropdown"  class="nav-link dropdown-toggle"><i class="fa fa-map-marker"></i> <span id="city"></span> <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">	
                  <div class="row">
                    <div class="col-md-4">
                   <li><a>Madurai</a></li>
                  </div>
                  <div class="col-md-4">
                      <li><a>Madurai</a></li>
                     </div>
                     <div class="col-md-4">
                        <li><a>Madurai</a></li>
                       </div>
                  </div>				
                
                </ul>
              </li>
            
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <button class="navButton"><i class="fa fa-building white"></i> List your Property</button>
              <li><a href="#">Sign Up / Login</a></li>
            </ul>
          </div>
        </div>
    </div>
  </nav>
  