<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="http://cdceequinox.com/"><img class="logo" src="http://cdceequinox.com/assets/images/logo.png" alt="CDCE" title="CDCE"></a>
      </div>
             <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="http://cdceequinox.com/">Home</a>
                  </li>
                  <li><a href="http://cdceequinox.com/industrial-products/">Industrial Products</a>
                  </li>
                  <li class="dropdown">
            <a href="http://cdceequinox.com/training/">Training</a>
          </li>
                  <li><a href="http://cdceequinox.com/events/">Events</a>
                  </li>
                <li><a href="http://cdceequinox.com/gallery/">Gallery</a>
                  </li>
                   <li><a href="#foot">Contact</a>
                  </li>
                 
              </ul>
          </div>
    </div>
  </nav>